[build]
packages = [
    "pyroll" # place your package in the pyroll namespace
]

[version]
path = "pyroll/freiberg_flow_stress/__init__.py"

[envs.default]
path = ".venv"
dependencies = [
    "pytest ~= 7.0",
    "pyroll-report ~= 3.0",
]
features = ["pillar-model"]

[envs.docs]
path = ""
dependencies = [
]

[envs.docs.scripts]
build = "pandoc -o docs/docs.pdf docs/docs.md"

[envs.test]
path = ""

[envs.test.scripts]
all = "pytest"

[[envs.test.matrix]]
python = ["3.9", "3.10", "3.11"]